.elementor-16759
  .elementor-element.elementor-element-9a11508
  .section-title-wrapper
  .section-title {
  text-transform: none;
}
.elementor-16759
  .elementor-element.elementor-element-9a11508
  .section-title-wrapper
  .sub-title {
  color: #ffc107;
}
.elementor-16759
  .elementor-element.elementor-element-9a11508
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-16759 .elementor-element.elementor-element-8a2966c {
  padding: 0;
}
.elementor-16759 .elementor-element.elementor-element-145511f {
  padding: 0 0 100px;
}
@media (max-width: 1024px) {
  .elementor-16759
    .elementor-element.elementor-element-9a11508
    > .elementor-widget-container {
    padding: 0;
  }
}
